@charset "UTF-8";
div.slide {
  width: 177.7777777778vh;
  height: 100vh;
  margin: 0px auto;
  padding: 0px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

div.slide div.header {
  width: 100%;
  height: 0.8rem;
  top: 0rem;
  left: 0rem;
  background-color: #33aaff;
  position: absolute;
  z-index: 0;
}

div.slide div.footer {
  width: 100%;
  height: 0.8rem;
  bottom: 0rem;
  left: 0rem;
  background-color: #ffaa33;
  position: absolute;
  z-index: 0;
}

div.slide div.content {
  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

html {
  font-size: 7.2vh;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", "IPA P明朝";
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background-color: black;
  overflow: hidden;
}

* span.sans {
  font-family: "Arial" !important;
  font-size: 96% !important;
  line-height: 96% !important;
}

* span.japanese {
  font-family: "IPA明朝" !important;
  font-feature-settings: "palt" 0;
}
