@charset "UTF-8";
div.slide {
  width: 177.7777777778vh;
  height: 100vh;
  margin: 0px auto;
  padding: 0px;
  background-color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.slide div.header {
  width: 100%;
  height: 7vh;
  top: 0rem;
  left: 0rem;
  background-color: #33aaff;
  position: absolute;
  z-index: 0;
}

div.slide div.footer {
  width: 100%;
  height: 7vh;
  bottom: 0rem;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffaa33;
  position: absolute;
  z-index: 0;
}

div.slide div.footer div.source {
  margin: 0rem 1rem 0rem 0rem;
  font-size: 50%;
  color: white;
  text-align: right;
}

div.slide div.number {
  top: calc(7vh - 0.5em);
  left: 0rem;
  padding: 0rem 1rem;
  font-family: "Gill Sans Nova";
  font-size: 250%;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: -0.05em;
  background: linear-gradient(to bottom, white 50%, #33aaff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  z-index: 1;
}

div.slide div.logo {
  margin: 0rem 2.5rem 0rem 3rem;
}

div.slide div.logo img {
  height: 8rem;
}

div.slide div.content {
  margin: 0rem 3rem 0rem 0rem;
}

div.slide div.content {
  height: 100%;
  padding: 12vh 0vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
}

div.slide div.content div.text-wrapper {
  width: 100%;
  height: 100%;
  border-bottom: 0.05em #b3b3b3 dashed;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

div.slide div.content div.text-wrapper:last-child {
  border: none;
}

div.slide div.content div.text {
  font-size: 90%;
  text-align: justify;
  line-height: 1.5;
}

div.slide div.content div.text-wrapper:nth-child(1) span.sans {
  font-family: "Vekos" !important;
  font-size: 100% !important;
}

html {
  font-size: 4.5vh;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", "IPA P明朝";
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background-color: black;
  overflow: hidden;
}

* span.sans {
  font-family: "Arial" !important;
  font-size: 96% !important;
  line-height: 96% !important;
}

* span.japanese {
  font-family: "IPA明朝" !important;
  font-feature-settings: "palt" 0;
}
